:focus,
:active,
:hover {
  outline: 0;
}

article {
  width: 300px;
  margin: 30px auto;
}

article a {
  width: 29%;
  margin: 0 2%;
}
/* ================================ */

.popup-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  overflow: auto;

  text-align: center;

  background-color: rgba(102, 153, 204, 0.8);
  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.6s;
          transition: all 0.6s;
}
.popup-wrapper:after {
  content: "";

  display: inline-block;
  height: 100%;

  vertical-align: middle;
}

.popup-open {
  visibility: visible;
  opacity: 1;
}

.popup {
  position: relative;

  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  margin-bottom: 10px;
  padding: 35px;

  vertical-align: middle;

  background-color: rgba(165, 48, 74, 0.8);
  border: 3px solid #ffffff;
  border-radius: 6px;
  outline: medium none;
  -webkit-box-shadow: 3px 3px 15px #bbbbbb;
          box-shadow: 3px 3px 15px #bbbbbb;
}
.popup__close {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;

  display: block;
  width: 6px;
  height: 17px;
  padding: 1px 9px 4px 9px;

  font-size: 13px;
  text-align: center;

  background-image: none;
  border: none;
  cursor: pointer;
}
.popup__close:before,
.popup__close:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 4px;

  display: inline-block;
  width: 15px;
  height: 2px;
  margin-top: -1px;

  background-color: #ffffff;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

  -webkit-transition: All 0.6s ease;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, right 0.3s;
  -webkit-transition: width 0.3s, right 0.3s, -webkit-transform 0.3s;
          transition: All 0.6s ease;
          transition: width 0.3s, right 0.3s, -webkit-transform 0.3s;
          transition:         transform 0.3s, width 0.3s, right 0.3s;
          transition:         transform 0.3s, width 0.3s, right 0.3s, -webkit-transform 0.3s;
}
.popup__close:before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.popup__close:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.popup__title {
  font-size: 30px;
  color: #ffffff;
}
.popup__description {
  font-size: 18px;
  color: #ffffff;
}
